# Winter School 2024 - Pandas Tutorial

This notebook introduces basic features of Pandas data set analysis.

Authors: Christopher Katins, Mario Sänger, Christopher Lazik, Thomas Kosch
Credits to Patrick Schäfer (HU Berlin)

## Pandas

Documentation: [https://pandas.pydata.org/](https://pandas.pydata.org/)

First setup environment and install packages

In [175]:
#!python -m venv env_ws_tutorial

In [176]:
#!source env_ws_tutorial/bin/activate

In [177]:
#!pip install -r requirements.txt

Requirement already satisfied: pandas in /home/mario/anaconda3/envs/winterschool/lib/python3.10/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/mario/anaconda3/envs/winterschool/lib/python3.10/site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/mario/anaconda3/envs/winterschool/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/mario/anaconda3/envs/winterschool/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/mario/anaconda3/envs/winterschool/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /home/mario/anaconda3/envs/winterschool/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
!pip install pandas seaborn matplotlib==3.7.3


### Series

A Pandas Series is a one-dimensional array-like object that can hold data of any type (integer, string, float, python objects, etc.), similar to a column in a spreadsheet or a SQL table. Each element in a Series is associated with an index, which is an array of labels that allows for fast lookup and advanced data manipulation capabilities.

In [2]:
import pandas as pd
from pandas import Series

In [ ]:
l =[7, 'Heisenberg', 3.14, -178971, 'Happy!']
s = pd.Series(l)
s

In [ ]:
pd.Series(
    [7, 'Heisenberg', 3.14,-178971, 'Happy!'],
    index=['A', 'Z', 'C', 'Y', 'E']
)

In [ ]:
d = {'Chicago': 1000, 
     'New York': 1300,
     'Portland': 900,
     'San Francisco': 1100,
     'Austin': 450,
     'Boston': None} 
cities = pd.Series(d) 
cities

In [ ]:
cities[cities < 1000]

### DataFrames

A DataFrame is the primary data structure of Pandas to represent two-dimensional, tabular data with labeled axes (rows and columns) in Python. DataFrames allow for storing and manipulating real-world data sets and offer a wide range of functionalities for data manipulation tasks such as filtering, aggregation, and visualization.

**Creating DataFrames**

In [ ]:
data = {'year': [2010, 2011, 2012, 2011, 
                2012, 2010, 2011, 2012], 
        'team': ['Bears', 'Bears', 'Bears', 
                    'Packers', 'Packers',
                    'Lions', 'Lions' , 'Lions'], 
        'wins': [11, 8, 10, 15, 11, 6, 10, 4], 
        'losses': [5, 8, 6, 1, 5, 10, 6, 12]} 
football = pd.DataFrame(data)
football

In [ ]:
football.set_index('year').head()

In [ ]:
football.rename(columns={'year': 'season'})

**Loading data from a CSV file**

In [3]:
income_data = pd.read_csv("income_data.csv", sep=",")
income_data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [4]:
income_data.set_index("Loan_ID", inplace=True)
income_data

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
Loan_ID,,,,,,,,,,,,
LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

**Accessing / selecting data rows and columns**

In [ ]:
# accessing row(s) via index label
income_data.loc["LP001005"]

In [ ]:
# accessing rows via row id
income_data.iloc[0]

In [ ]:
# accessing multiple rows
income_data.iloc[0:5]

In [ ]:
# accessing a column
income_data["Married"]

In [ ]:
income_data.Gender

In [ ]:
income_data[["Married", "Gender"]]

In [ ]:
# accessing rows via row id
income_data.iloc[0:5][["Married", "Gender", "Education"]]

**Data inspection**

In [ ]:
# Get basic information, e.g. number of entries, short column description, of the data frame
income_data.info()

In [ ]:
# Highlight basic descriptive statistics of the integer / float columns
income_data.describe()

In [ ]:
# Access the value distribution of a column
income_data["Married"].value_counts(normalize=True)

In [ ]:
len(income_data["Dependents"].unique())

In [178]:
income_data.nunique()

Gender                 2
Married                2
Dependents             4
Education              2
Self_Employed          2
ApplicantIncome      505
CoapplicantIncome    287
LoanAmount           203
Loan_Amount_Term      10
Credit_History         2
Property_Area          3
Loan_Status            2
log_income           505
gender_married         8
dtype: int64

In [ ]:
income_data["Dependents"].mode()

In [ ]:
income_data["Dependents"].value_counts(normalize=True)

In [ ]:
# Print default statistics
print(income_data["ApplicantIncome"].min())
print(income_data["ApplicantIncome"].max())
print(income_data["ApplicantIncome"].mean())
print(income_data["ApplicantIncome"].median())
print(income_data["ApplicantIncome"].quantile(0.25))

In [ ]:
# Display missing values per column
income_data.isna().sum()

**Filtering data**

In [ ]:
income_data["ApplicantIncome"]>10000

In [ ]:
income_data[income_data["ApplicantIncome"]>10000]

In [ ]:
income_data[(income_data["ApplicantIncome"]>10000) & (income_data["Self_Employed"] == "Yes")]

In [ ]:
# Accessing rows having no value in Credit_History
income_data[income_data["Credit_History"].isna()]

In [ ]:
# Finding duplicated rows
income_data[income_data.duplicated()]

In [ ]:
# Finding duplicated rows restricted to certain columns
income_data[income_data.duplicated(subset=["Gender", "Married", "Education", "Self_Employed"], keep="first")]

**Grouping data**

In [ ]:
income_data.groupby("Gender")["ApplicantIncome"].mean()

In [ ]:
income_data.groupby(["Gender", "Education"]).count()

**Sorting data**

In [ ]:
income_data.sort_values("ApplicantIncome")

In [ ]:
income_data.sort_values(["Loan_Amount_Term", "ApplicantIncome"], ascending=[False, True])

**Transforming data**

In [ ]:
import math
income_data["log_income"] = income_data["ApplicantIncome"].apply(lambda income: math.log(income))
income_data[["ApplicantIncome", "log_income"]]

In [ ]:
def concat(row: Series) -> str:
    return str(row["Gender"]) + "-" + str(row["Married"])

income_data["gender_married"] = income_data.apply(concat, axis=1)
income_data["gender_married"]

**Cross tabulation**

With `pd.crosstab()` we can create cross-tabulations contain the absolute and relative frequencies of combinations of two columns.

In [6]:
pd.crosstab(income_data["Gender"], income_data["Education"])

Education  Graduate  Not Graduate
Gender
Female           92            20
Male            376           113

In [7]:
# Style the background
pd.crosstab(income_data["Gender"], income_data["Education"])\
    .style.background_gradient(cmap='Blues')

In [10]:
# Print normalized values
pd.crosstab(income_data["Gender"], income_data["Education"], normalize=True)\
    .style.background_gradient(cmap='Blues')

In [9]:
# We can extend the analysis to more features
pd.crosstab([income_data["Gender"], income_data["Married"]], income_data["Education"])\
    .style.background_gradient(cmap='Blues')